{% extends 'base.html.j2' %}

{% block body %}

<div class="wrapper">
  <nav id="sidebar" class="active">

    <div class="sidebar-header" id="sidebarCollapse">
      <h3>Bienvenido {{session['rol']}}</h3>
      <strong><i class="fas fa-align-justify"></i></strong>
    </div>


    <ul class="list-unstyled components">

      <li class="actual">
        <a href="{{url_for('inicio')}}">
          <i class="fas fa-home"></i>
          <span> Inicio </span>
        </a>
      </li>


      {% if session['rol'] == 'admin' %}
        <li>
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <i class="fas fa-users"></i>
            <span> Personal </span>
          </a>
          <ul class="collapse list-unstyled" id="homeSubmenu">
            <li>
              <a href="{{url_for('vista', nombre_vista='profesor')}}">
                <i class="fas fa-user-tie"></i><span class="pl-2"> Profesores </span>
              </a>
            </li>
            <li>
              <a href="{{url_for('vista', nombre_vista='auxiliar')}}">
                <i class="fas fa-user-astronaut"></i><span class="pl-2"> Auxiliares </span>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="{{url_for('tabla', nombre_tabla='materia')}}">
            <i class="fas fa-paperclip"></i>
            <span> Materias </span>
          </a>
        </li>
        <li>
          <a href="{{url_for('tabla', nombre_tabla='ludica')}}">
            <i class="fas fa-dice"></i>
            <span> Lúdicas </span>
          </a>
        </li>
        <li>
          <a href="{{url_for('sesiones')}}">
            <i class="fas fa-video"></i>
            <span> Sesiones </span>
          </a>
        </li>
        <li>
          <a href="{{url_for('capacitaciones')}}">
            <i class="fas fa-chalkboard-teacher"></i>
            <span> Capacitaciones </span>
          </a>
        </li>
      {% endif %}


      {% if session['rol'] == 'auxiliar' %}
        <li>
          <a href="{{url_for('sesiones')}}">
            <i class="fas fa-video"></i>
            <span> Sesiones </span>
          </a>
        </li>
        <li>
          <a href="{{url_for('capacitaciones')}}">
            <i class="fas fa-chalkboard-teacher"></i>
            <span> Capacitaciones </span>
          </a>
        </li>
        <li>
          <a href="{{url_for('tabla', nombre_tabla='ludica')}}">
            <i class="fas fa-dice"></i>
            <span> Lecturas Lúdicas </span>
          </a>
        </li>
      {% endif %}

      {% if session['rol'] == 'profesor' %}
        <li>
          <a href="{{url_for('curso', nombre_tabla='materia')}}">
            <i class="fas fa-paperclip"></i>
            <span> Mis materias </span>
          </a>
        </li>
        <li>
          <a href="{{url_for('curso', nombre_tabla='grupo')}}">
            <i class="fas fa-list-alt"></i>
            <span> Mis Grupos </span>
          </a>
        </li>
        <li>
          <a href="{{url_for('sesiones')}}">
            <i class="fas fa-video"></i>
            <span> Mis sesiones </span>
          </a>
        </li>
        <li>
          <a href="{{url_for('tabla', nombre_tabla='ludica')}}">
            <i class="fas fa-dice"></i>
            <span> Catálogo Lúdicas </span>
          </a>
        </li>

      {% endif %}

      <li>
        <a href="#">
          <i class="fas fa-question"></i>
          <span> P&R </span>
        </a>
      </li>

    </ul>

      <ul class="list-unstyled CTAs">
          <li>
              <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Siguenos Instagram</a>
          </li>
          <li>
              <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Unete a Facebook</a>
          </li>
      </ul>
  </nav>


    <div id="content">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <img src="{{url_for('static', filename='./img/logo.png')}}" height="40" class="d-inline-block align-top mx-auto" alt="" loading="lazy">

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-user-cog"></i> Mi perfil</a>
              </li>
              <form action="{{url_for('logout')}}" method="POST" class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-danger ml-sm-3 my-sm-0" type="submit"><i class="fas fa-sign-out-alt"></i> Salir </button>
              </form>
            </ul>
          </div>
        </div>
      </nav>

      {% block contenido %} {% endblock %}

    </div>
</div>

{% endblock %}
