{% extends 'base.html.jinja' %}
{%include 'header.html.jinja' %}

{% block title %} Home {% endblock %}

{% block body %}

<div class="">


  <div class="container-fluid">
    <div class="row">
      <div class="col lg-12">
        <div class="jumbotron p-3">
          <h2>CRUD Tabla <b>Personas </b><button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#mymodal">Agregue un nuevo usuario</button></h2>
          <br>



          <table class="table table-hover table-ligth">




          </table>

        </div>
  
      </div>
    </div>
  </div>

{% endblock %}
