{% extends 'base.html.j2' %}

{% block title %} Galea: Login {% endblock %}

{% block body %}

<div class="d-flex vh-100 justify-content-center align-items-center">

  <div class="d-flex justify-content-center h-100 mw-332">
    <div class="card my-auto shadow-lg bg-secundary">
      <form action="{{url_for('login')}}" method="post" id="form_usuario">
        <div class="card-header p-0">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-info active">
              <input class="b-us" type="radio" name="rol" value="admin" autocomplete="off" checked> Admin
            </label>
            <label class="btn btn-info">
              <input class="b-us" type="radio" name="rol" value="auxiliar" autocomplete="off"> Auxiliar
            </label>
            <label class="btn btn-info">
              <input class="b-us" type="radio" name="rol" value="profesor" autocomplete="off"> Profesor
            </label>
            <label class="btn btn-info">
              <input class="b-es" type="radio" name="rol" value="estudiante" autocomplete="off"> Estudiante
            </label>
          </div>
        </div>

        <div class="collapse show" id="opcion-usuario">
          <div class="card-header">
            <h3 class="m-0">Inicio de Sesion</h3>
          </div>

          <div class="card-body mx-auto">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="username" name="usuario">
            </div>

            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
                <input type="password" class="form-control" placeholder="clave" name="clave">
            </div>

            <div class="row">
              <div class="col text-center">
                <button type="submit" class="btn btn-info"><i class="fas fa-sign-in-alt mr-2"></i>Ingresar</button>
              </div>
            </div>
          </div>
        </div>

        <div class="collapse" id="opcion-estudiante">
          <div class="card-header">
            <h4 class="m-0">¿¿Recientemente asististe a una lúdica de Galea??</h4>
          </div>

          <div class="card-body mx-auto justify-content-center align-items-center mw-50">
            <p class="text-justify text-break">
              Para registrar tu asistencia y que tu participación sea notificada al docente,
              por favor ingresa en el siguiente enlace y sigue las intrucciones del auxiliar.
            </p>
            <div class="row">
              <div class="col text-center">
                <button type="button" class="btn btn-dark"><i class="fas fa-clipboard mr-2"></i> Registro </button>
              </div>
            </div>
          </div>
        </div>

      </form>

      <div class="card-footer">
        <div class="d-flex justify-content-center links">
        ¿Primera vez ingresando?
        </div>
        <div class="d-flex justify-content-center">
          <a href="#">Consulta que servicios ofrecemos!!</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block action %}
  {% with mensajes = get_flashed_messages() %}
    {% if mensajes %}
      {% for msg in mensajes %}
        <script type="text/javascript">
          notifica_error("{{msg}}");
        </script>
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endblock %}
