{% extends 'header.html.j2' %}

{% block title %} Galea: Inicio {% endblock %}

{% block contenido %}

<h1>
  Cuerpo
  {% if session['jefe'] %}
  Hola Jefe
  {% endif %}
</h1>

 {% set prueba = 'pepito' %}
<script type="text/javascript">
  google.charts.setOnLoadCallback(function drawStuff(){
        var data = new google.visualization.arrayToDataTable({{dash}});
        var options = {
          width: 400,
          height: 400,
          legend: { position: 'none' },
          chart: {
            title: 'Ludicas',
            subtitle: 'popularity by percentage' },
          axes: {
            x: {
              0: { side: 'top', label: 'White to move'} // Top x-axis.
            }
          },
          bar: { groupWidth: "90%" }
        };
        var chart = new google.charts.Bar(document.getElementById('{{prueba}}'));
        // Convert the Classic options to Material options.
        chart.draw(data, google.charts.Bar.convertOptions(options));
      });

</script>

<div id='{{prueba}}'>

</div>


{% endblock %}
