{% extends 'header.html.j2' %}

{% block title %} Galea: Inicio {% endblock %}

{% block contenido %}
<div class="container-fluid bg-light p-3">
  <h1 class="text-center">

    Estadísticas <i class="fas fa-chart-bar ml-2"></i>
  </h1>

  {% if dashboard %}
  <table class="mx-auto">
    <thead>
      <tr>
        {% for item in dashboard %}
        <td>
          <div id='dashboard{{loop.index}}' style="margin:10px"></div>
        </td>
        {% endfor %}
      </tr>
    </thead>
  </table>
  {% endif %}

</div>


<script type="text/javascript">
google.charts.load('current', {'packages':['bar']});
{% for item in dashboard %}
  {% set dash = item %}
  google.charts.setOnLoadCallback(function drawStuff(){
      var data = new google.visualization.arrayToDataTable({{dash['data']}});
      var options = {
        width: 360,
        height: 360,
        legend: { position: 'none' },
        chart: {
          title: "{{dash['names'][0] | capitalize}}",
          subtitle: "{{dash['names'][1] | capitalize}}"
         },

         hAxis: {
           title: 'Hello',
           textStyle: {
             color: 'white'
           }
         },


        bar: { groupWidth: "90%" }
      };
      var chart = new google.charts.Bar(document.getElementById('dashboard{{loop.index}}'));
      // Convert the Classic options to Material options.
      chart.draw(data, google.charts.Bar.convertOptions(options));
    });
{% endfor %}
</script>


{% endblock %}
