{% extends 'header.html.j2' %}

{% block contenido %}

<div class="">
  <div class="container p-2">
    <div class="row">
      <div class="col lg-12">
        <div class="jumbotron p-3">
          <h2>Sesiones Programadas: </h2>

          {% if data|length == 0 %}
            <div class="p-4 m-5 justify-content-between bg-light">
              <h2> Aun no tiene sesiones programadas... </h2>
              {% if session['rol'] == "profesor" %}
              <h3> Programa tu primera sesion ahora </h3>
              <br>
              <div class="row">
                <div class="col text-center">
                  <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#mymodal">
                    <i class="fas fa-calendar-plus mr-2"></i>
                    Agendar
                  </button>
                </div>
              </div>
              {% else %}
                {% if session['rol'] == 'auxiliar' %}
                <h3> Aún no ha sido asignado a ninguna sesión. Cuando sea asignado el sistema le informará. </h3>
                {% else %}
                <h3> Ningún profesor ha agendado sesiones este semestre. Cuando ya haya alguna programada el sistema le informará. </h3>
                {% endif %}
              {% endif %}
            </div>
          {% else %}
            <div class="d-flex p-2 mt-4 mb-3 justify-content-between bg-light">
              <div class="input-group w-75 my-auto">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
                <input type="text" aria-label="Buscar..." class="form-control" id="filter-input">
                <select class="custom-select" id="filter-select">
                  <option selected>Filtrar por...</option>
                  {% for columna in nombres %}
                  <option value = "{{loop.index0}}">{{columna|capitalize | replace('_', ' ')}}</option>
                  {% endfor %}
                </select>
              </div>
              {% if session['rol'] == "profesor" %}
              <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#mymodal">
                <i class="fas fa-calendar-plus mr-2"></i>
                Agendar
              </button>
              {% endif %}
            </div>

            <div class="d-flex bg-light">
              <table class="table table-hover table-ligth">
                <thead class="thead-dark">
                  <tr>

                    {% for columna in nombres %}
                    <th>{{columna|capitalize | replace('_', ' ')}}</th>
                    {% endfor %}

                    <th style="text-align: center">Actions</th>
                  </tr>

                </thead>
                <tbody>
                  {% for row in data %}
                  <tr>

                    {% for item in row %}
                    <td>{{item}}</td>
                    {% endfor %}

                    <td style="text-align: center">

                      <button type="button" class="btn btn-outline-warning btn-xs"  data-toggle="modal" data-target="#asistencia{{row.0}}">
                        <i class="fas fa-address-book"></i>
                      </button>

                      {% if session['id'] == admin %}
                          <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#asignar_{{loop.index}}">
                            <i class="fas fa-user-plus"></i>
                          </button>
                      {% endif %}

                      <div class="modal fade" id="asistencia{{row.0}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="">Asistencia Registrada a la capacitación...</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <h4>Auxiliares encargados: </h4>
                              {% if ayudantes[row.0]|length != 0 %}
                              <ul class="list-group">
                                {% for ayu in ayudantes[row.0] %}
                                <li class="list-group-item">{{ ayu }}</li>
                                {% endfor %}
                              </ul>
                              {% else %}
                              <h6>Aun no se han asignado auxiliares a esta sesión.</h6>
                              {% endif %}

                              <h4>Estudiantes registrados: </h4>
                              {% if asistencia[row.0]|length != 0 %}
                              <ul class="list-group">
                                {% for est in asistencia[row.0] %}
                                <li class="list-group-item">{{ est }}</li>
                                {% endfor %}
                              </ul>
                              {% else %}
                              <h6>Aun no se han registrado estudiantes en la sesión.</h6>
                              {% endif %}
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                            </div>
                          </div>
                        </div>
                      </div>


                    </td>
                  </tr>

                  {% if session['id'] == admin %}
                  <div id="asignar_{{loop.index}}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Asignar auxiliar</h4>
                        </div>
                        <div class="modal-body">
                          {#  {{url_for('insert')}}  #}

                          <form action="{{url_for('asignar')}}" method="POST">
                            <input type="hidden" name="{{nombres[0]}}" value="{{row[0]}}">

                            <label for="">Auxiliar</label>

                            <select class="form-control" name="{{auxiliares[1][0]}}">
                              {% for auxiliar in auxiliares[0] %}
                                <option value="{{auxiliar.0}}">{{auxiliar.1}}</option>
                              {% endfor %}
                            </select>
                            <br>
                            <div class="form-group">
                              <button class="btn btn-primary" type="submit">Asignar</button>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endif %}

                  {% endfor %}
                </tbody>
              </table>
            </div>
          {% endif %}

        </div>

        {% if session['rol'] == "profesor" %}
        <div id="mymodal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Programar Sesión</h4>
              </div>
              <div class="modal-body">
                {#  {{url_for('insert')}}  #}
                <form action="{{url_for('function_vista', nombre_vista='sesion', funcion='inserta')}}" method="POST">

                  {% for col in nombres[1:] %}
                  <div class="form-group">
                    <label>{{col}}</label>
                    {% if col == 'ludica' %}
                    <select class="custom-select" name="{{col}}">
                      <option selected>Selecciona una lúdica...</option>
                      {% for lud in ludicas %}
                        <option value="{{lud[0]}}">{{lud[1]}}</option>
                      {% endfor %}
                    </select>
                    {% else %}
                      {% if col == 'grupo' %}
                      <select class="custom-select" name="{{col}}">
                        <option selected>Selecciona una grupo...</option>
                        {% for grup in grupos %}
                          <option value="{{grup[0]}}">{{grup[1]}}</option>
                        {% endfor %}
                      </select>
                      {% else %}
                        {% if col == 'fecha' %}
                          <input type="date" class="form-control" name="{{col}}" required="1">
                        {% else %}
                          <input type="time" class="form-control" name="{{col}}" required="1">
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  </div>
                  {% endfor %}

                  <input type="hidden" name="profe" value="{{session['id']}}">

                  <div class="form-group">
                    <button class="btn btn-primary" type="submit">Agendar</button>
                  </div>

                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
        {% endif %}

      </div>
    </div>
  </div>

{% endblock %}
